.d-flex.justify-content-between.align-items-center.bg-dark.text-light
	.d-flex
		.logo.p-3.mr-3 
			a(href="/" style="color: inherit; text-decoration: none;") LOGO
		.p-3 
			a(href="/gbook" style="color: inherit; text-decoration: none;") 방명록
	.d-flex
		if user
			.p-3
				a(href="/user/logout" style="color: inherit; text-decoration: none;") 로그아웃
		else
			.p-3.pointer(onclick=`$("#loginModal").modal({show: true});`) 로그인
			.p-3 
				a(href="/user/signup" style="color: inherit; text-decoration: none;" target="_blank") 회원가입
