doctype html
html(lang="ko")
	head
		title 방명록
		meta(charset="UTF-8")
		link(href="/css/fa.min.css" rel="stylesheet")
		link(href="/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/base.css" rel="stylesheet")
		link(href=`/css/${name}.css` rel="stylesheet")
		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/bootstrap.bundle.min.js")
	body
		include ../inc/top.pug
		.container.p-3
			block content
		include ../inc/modal-login.pug
		script(src=`/js/${name}.js`)